* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 100%;
    background-color: rgb(37, 104, 35);
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}


.top_navbar {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 11px 0px;
    margin: 0px 7px;
}

.para_top_navbar {
    color: rgb(0, 0, 0, 0.54);
    font-weight: 600;
}

.icon_topnavbar {
    color: rgb(245, 99, 99);
    margin: 0 9px !important;
    /* ? */
}

.nav-link {
    color: rgb(255, 255, 255, 0.92);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 4px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    padding: 6px 8px;
    width: 220px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
    position: absolute;
    top: 100%;
    left: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-item {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 12px;
    margin: 2px 0px;
    color: rgb(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.038);
}

.dropdown-item:last-child {
    border-bottom: 0;
    /* Son elemanın alt çizgisini otomatik siler, HTML'e class yazman gerekmez */
}

.nav-link:hover {
    color: rgb(225, 89, 89);
}

.dropdown-item:hover {
    color: rgb(225, 89, 89);
    background-color: rgb(223, 242, 200);
    border-radius: 4%;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 15px;
}

.navbar-brand img {
    width: 84px;
    height: auto;
    /* Oranı bozulmadan ölçeklenir */
    border-radius: 4px;
}

.btn_navbar {
    background-color: rgb(125, 90, 25);
    text-decoration: none;
    border-radius: 0px !important;
    border: none !important;
    font-weight: 600;
    color: aliceblue;
    position: relative;
    overflow: hidden;
    z-index: 2;
    /* Taşmaları gizlemek için önemlidir */
}

.btn_navbar .stable {
   position: absolute; 
top: 0px;
right: 0px;
width: 0px;
height: 100%;
background: rgb(28, 28, 178);
z-index: -2;
transition: 0.4s ease-in;
}

.btn_navbar:hover .stable {
    width: 100%;
}

.home_section {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.content_home {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-1 {
    background-image:
    linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), 
    url(./img/cappadocia_2.jpg);
}

.img-2 {
    background-image:
    linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), 
    url(./img/cappadocia_1.jpg);
}

.text_content_home {
    text-align: center;
}

.section_title {
    position: relative;
    display: inline-block;
}

.section_title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background-color: red;
    border-radius: 5px;
    
}

.section_title::after {
    position:absolute;
    content: "";
    width: 45px;
    height:2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background-color: red;
    border-radius: 5px;
}

.heading_home {
    font-size: 65px;
    font-weight:900;
    letter-spacing: 3px;
}

.btn_home_content {
    /* background-color: tomato; */
    background-color: rgb(240, 140, 47);
    color: rgb(0, 0, 0, 0.75);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 14px 0px;
    border-radius: 3px !important;
    transition: 0.2s ease;
}


.btn_home_content:hover {
    background-color: rgb(255, 194, 108);
    color: rgb(0, 0, 0, 0.75);
    
}


