* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 100%;
    background-color: rgb(83, 245, 191);
}

.img_general_logo{
    width: 84px;
}